body {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: red;
    height: 50px;
    flex-basis: 100%;
}

.srodek {
    height: 400px;
}

#left {
    flex-basis: 20%;
    background-color: green;
}

#center {
    flex-basis: 60%;
    background-color: deepskyblue;
}

#right {
    flex-basis: 20%;
    background-color: pink;
}

footer {
    background-color: blueviolet;
    height: 50px;
    flex-basis: 100%;
}